<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtK3TQxl1eHUSZ6sDlDjzUfcM4yMpYpsc</string>
	<key>GCM_SENDER_ID</key>
	<string>412937447236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.chilefantastico</string>
	<key>PROJECT_ID</key>
	<string>chilefantastico-ebb11</string>
	<key>STORAGE_BUCKET</key>
	<string>chilefantastico-ebb11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412937447236:ios:9fcd1e373ab077f6aa9911</string>
</dict>
</plist>